<!-- USERS/FRIEND LIST -->
<!DOCTYPE html>
<html>
<head>
	<title> USERS/FRIEND LIST</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
<!-- <link rel="stylesheet" type="text/css" href="backimg.css"> -->
</head>

<body style=" background: #F8D353;
background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
background: linear-gradient(top left, #F8D353, #FF5C5A);">

<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item">My blog</div>
		<a href="/" class="item">Home</a>
		<%if(username!=""){%>
			<a href="/newblog" class="item">Create</a>
			<div class="header item"><%=username%></div>
			<a href="/logout" class="item">Logout</a>
			<a href="/showRequests" class="item">Requests</a>
			<a href="/showFriends" class="item">Friends</a>
				<div class="item" style="margin-left: 220px">
			
		<div class="ui icon input" >
		<form style=" form:inline; " method="post" action="/search">
			<input type="text" size=45 name="query" placeholder="Search any post / #keyword / F_ for users" required >

			<button class="ui secondary button">Search</button>
		</form>
	</div>	</div>

	<!-- logged in  -->
	<center>
		
	</center>
			<%}else{%>
		<a href="/login" class="item">Log In</a>
		<a href="/register" class="item">Register</a>

		<div class="item" style="margin-left: 490px">
		<div class="ui icon input" >
		<form style=" form:inline; " method="post" action="/search">
			<input type="text" size=45 name="query" placeholder="Search any post / #keyword / F_ for users" required >

			<button class="ui secondary button">Search</button>
		</form>
	</div>	</div>
	<!-- Notlogged in  -->
	<center>
		
	</center>
		<%}%>
	</div>

</div>
<br><br><br><br>
<center>
	
	<% for(var i=0;i<users.length && currentId!=users[i]._id ;i++){ %>
	<div >
		
		<form style=" display:inline; " method="get" action="/showUser/<%=users[i]._id%>/<%=users[i].username%>">
		<button class="ui secondary button"><%= users[i].username %> ( <%= users[i].email %> ) </button>
		</form>			
		<form style=" display:inline; " method="get" action="/sendRequest/<%= users[i]._id%>/<%= users[i].username %>/<%=users[i].email%>">
		<button class="ui secondary button">Send Request</button>
		</form>
			
	
		

		</div>
		<br>
		<%}%>
		
</center>
</body>
</html>
